<ng-container *ngIf="contestTableInfo">
  <p-table [value]="[{}]" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Contest stats</th>
        <th>
          <a href="https://codeforces.com/profile/{{ user }}">{{ user }}</a>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body">
      <tr>
        <td>Number of contests (rated)</td>
        <td>
          <td-container [data1]="contestTableInfo.contestCount"></td-container>
        </td>
      </tr>
      <tr>
        <td>Current rating</td>
        <td>
          <td-container [data1]="contestTableInfo.currentRating"></td-container>
        </td>
      </tr>
      <tr>
        <td>Best rank</td>
        <td>
          <td-container
            [data1]="contestTableInfo.bestRank"
            [data2]="contestTableInfo.bestRankContestId"
            linkPrefix="."
          ></td-container>
        </td>
      </tr>
      <tr>
        <td>Worst rank</td>
        <td>
          <td-container
            [data1]="contestTableInfo.worstRank"
            [data2]="contestTableInfo.worstRankContestId"
            linkPrefix="."
          ></td-container>
        </td>
      </tr>
      <tr>
        <td>Max up</td>
        <td>
          <td-container
            [data1]="contestTableInfo.maxUp"
            [data2]="contestTableInfo.maxUpContestId"
            linkPrefix="."
          ></td-container>
        </td>
      </tr>
      <tr>
        <td>Max down</td>
        <td>
          <td-container
            [data1]="contestTableInfo.maxDown"
            [data2]="contestTableInfo.maxDownContestId"
            linkPrefix="."
          ></td-container>
        </td>
      </tr>
      
    </ng-template>
  </p-table>
</ng-container>
