<form [formGroup]="userForm" (ngSubmit)="handleSubmit()">
  <div class="container">
    <div class="p-fluid grid">
      <div class="field col-12 md:col-6">
        <div class="p-input-filled">
          <input
            type="text"
            pInputText
            placeholder="Handle 1"
            formControlName="cfHandle1"
          />
        </div>
      </div>
      <div class="field col-12 md:col-6">
        <div class="p-input-filled">
          <input
            type="text"
            pInputText
            placeholder="Handle 2"
            formControlName="cfHandle2"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="compare-button">
    <button
      pButton
      type="submit"
      label="Compare"
      icon="pi compare"
      class="p-button-sm p-button-raised p-button-danger"
    ></button>
  </div>
</form>

<ng-container
  *ngIf="
    userSubmissions1 &&
    userSubmissions2 &&
    userRatedContestsInfo1 &&
    userRatedContestsInfo2
  "
>
  <div style="padding: 10px">
    <p-card>
      <compare-table
        [handle1]="handle1"
        [handle2]="handle2"
        [userSubmissions1]="userSubmissions1"
        [userSubmissions2]="userSubmissions2"
        [userRatedContestsInfo1]="userRatedContestsInfo1"
        [userRatedContestsInfo2]="userRatedContestsInfo2"
      ></compare-table>
    </p-card>
  </div>
  <div class="grid">
    <div class="col-12 sm:col-6 md:col-4 lg:col-3">A</div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3">B</div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3">C</div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3">D</div>
</div>
</ng-container>
