.container {
    width: 50%;
    margin: auto;
}

.grid {
    margin-right: 0.5;
    margin-left: 0.5;

}
.col-12 {
    padding: 0.2rem;
}

.field {
    margin-bottom: 0px;
}

.compare-button {
    display: flex;
    justify-content: center;
}