<ng-container *ngIf="submissionTableInfo">
  <p-table [value]="[{}]" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Submission stats</th>
        <th>
          <a href="https://codeforces.com/profile/{{ user }}">{{ user }}</a>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body">
      <tr>
        <td>Problem Tried</td>
        <td>{{ submissionTableInfo.problemTried }}</td>
      </tr>
      <tr>
        <td>Problem Solved</td>
        <td>{{ submissionTableInfo.problemSolved }}</td>
      </tr>
      <tr>
        <td>Average attempts</td>
        <td>{{ submissionTableInfo.averageAttempts }}</td>
      </tr>
      <tr>
        <td>Max attempts</td>
        <td>
          {{ submissionTableInfo.maxAttempts }}(<a href="">{{
            submissionTableInfo.maxAttemptsProblemId
          }}</a
          >)
        </td>
      </tr>
      <tr>
        <td>Solved with one submission</td>
        <td>{{ submissionTableInfo.solvedWithSingleSubmission }}</td>
      </tr>
      <tr>
        <td>Max accepted submissions</td>
        <td>
          {{ submissionTableInfo.maxAcceptedSubmissions }}(<a href="">{{
            submissionTableInfo.maxAcceptedSubmissionsProblemId
          }}</a
          >)
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
