<ng-container *ngIf="submissionTableInfo">
  <p-table [value]="[{}]" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Submission stats</th>
        <th>
          <a href="https://codeforces.com/profile/{{ user }}">{{ user }}</a>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body">
      <tr>
        <td>Problem Tried</td>
        <td>
          <td-container
            [data1]="submissionTableInfo.problemTried"
          ></td-container>
        </td>
      </tr>
      <tr>
        <td>Problem Solved</td>
        <td>
          <td-container
            [data1]="submissionTableInfo.problemSolved"
          ></td-container>
        </td>
      </tr>
      <tr>
        <td>Average attempts</td>
        <td>
          <td-container
            [data1]="submissionTableInfo.averageAttempts"
          ></td-container>
        </td>
      </tr>
      <tr>
        <td>Max attempts</td>
        <td>
          <td-container
            [data1]="submissionTableInfo.maxAttempts"
            [data2]="submissionTableInfo.maxAttemptsProblemId"
            linkPrefix="."
          ></td-container>
        </td>
      </tr>
      <tr>
        <td>Solved with one submission</td>

        <td>
          <td-container
            [data1]="submissionTableInfo.solvedWithSingleSubmission"
          ></td-container>
        </td>
      </tr>
      <tr>
        <td>Max accepted submissions</td>
        <td>
          <td-container
            [data1]="submissionTableInfo.maxAcceptedSubmissions"
            [data2]="submissionTableInfo.maxAcceptedSubmissionsProblemId"
            linkPrefix="."
          ></td-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
