<div class="center">
  <form #input="ngForm" (submit)="handleSubmit(input.value.handle)">
    <input
      type="text"
      pInputText
      placeholder="Enter your CF Handle"
      name="handle"
      ngModel
    />
  </form>
</div>

<div class="grid contest-info">
  <div class="col-12 sm:col-6">
    <div class="container" *ngIf="contestTableInfo">
      <!-- <h1 style="display: flex; justify-content: center;">Bangladesh</h1> -->
      <p-table [value]="[{}]" responsiveLayout="scroll">
        <ng-template pTemplate="header" >
          <tr>
            <th>Contest stats</th>
            <th>{{user}}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body">
          <tr>
            <td>Number of contests (rated)</td>
            <td>{{contestTableInfo.contestCount}}</td>
          </tr>
          <tr>
            <td>Best rank</td>
            <td>{{contestTableInfo.bestRank}}(<a href="">{{contestTableInfo.bestRankContestId}}</a>)</td>
          </tr>
          <tr>
            <td>Worst rank</td>
            <td>{{contestTableInfo.worstRank}}(<a href="">{{contestTableInfo.worstRankContestId}}</a>)</td>
          </tr>
          <tr>
            <td>Max up</td>
            <td>{{contestTableInfo.maxUp}}(<a href="">{{contestTableInfo.maxUpContestId}}</a>)</td>
          </tr>
          <tr>
            <td>Max down</td>
            <td>{{contestTableInfo.maxDown}}(<a href="">{{contestTableInfo.maxDownContestId}}</a>)</td>
          </tr>
          <tr>
            <td>Current rating</td>
            <td>{{contestTableInfo.currentRating}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="col-12 sm:col-6">
    <div class="container">
      <p-table [value]="[{}]" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>Submission stats</th>
            <th>{{user}}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body">
          <tr>
            <td>Number of contests (rated)</td>
            <td>97</td>
          </tr>
          <tr>
            <td>Best rank</td>
            <td>1040(1506)</td>
          </tr>
          <tr>
            <td>Worst rank</td>
            <td>12850(1328)</td>
          </tr>
          <tr>
            <td>Max up</td>
            <td>1366(1284)</td>
          </tr>
          <tr>
            <td>Max down</td>
            <td>-134(1521)</td>
          </tr>
          <tr>
            <td>Current rating</td>
            <td>1434</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
