<div class="center">
  <form #input="ngForm" (submit)="handleSubmit(input.value.handle)">
    <input
      type="text"
      pInputText
      placeholder="Enter your CF Handle"
      name="handle"
      ngModel
    />
  </form>
</div>

<div class="grid contest-info" *ngIf="userContests && userSubmissions">
  <div class="col-12 sm:col-6">
    <div class="container">
      <contest-stats-table [user]="user" [userContests]="userContests"></contest-stats-table>
    </div>
  </div>
  <div class="col-12 sm:col-6">
    <div class="container">
      <submission-stats-table [user]="user" [userSubmissions]="userSubmissions"></submission-stats-table>
    </div>
  </div>
</div>
