<div class="tab-items">
  <p-tabView (onChange)="getSiteContests($event)" [scrollable]="true">
    <p-tabPanel
      style="background-color: black"
      [header]="site"
      *ngFor="let site of sites; let i = index"
      [selected]="i == 0"
    >
    </p-tabPanel>
  </p-tabView>
</div>

<div class="grid">
  <div class="col-12 sm:col-12 lg:col-6">
    <contest-table
      *ngIf="runningContests"
      [title]="
        runningContests.length +
        ' Running Contest' +
        (runningContests.length !== 1 ? 's' : '')
      "
      [contests]="runningContests"
    ></contest-table>
  </div>
  <div class="col-12 sm:col-12 lg:col-6">
    <contest-table
      *ngIf="futureContests"
      [title]="
        futureContests.length +
        ' Future Contest' +
        (futureContests.length !== 1 ? 's' : '')
      "
      [contests]="futureContests"
    ></contest-table>
  </div>
</div>
