.tab-items {
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 70vw;
    padding: 20px;
}

// :host ::ng-deep .p-tabview-panels{
//     //background-color: white;
// }